@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

::-webkit-scrollbar-track {
    background: #f4f4f4;
    border-radius: 4px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.bg-gray-100 { background-color: #f7fafc; }
.border-b { border-bottom: 1px solid #e2e8f0; }
.transition { transition: all 0.2s ease-in-out; }
.hover\:bg-blue-600:hover { background-color: #3182ce; }
